.player-score {
    display: flex;
    width: 50px;
    height: 20px;
    color: #62C370;
    box-sizing: border-box;
    background: #828282;
}

.player-score::-webkit-progress-bar, ::-moz-progress-bar {
    background-color: #62C370;

}