.arrow-down {
    position: absolute;
    top: 4px;
    transform: translateX(-44px);
    transition: transform 180ms ease-in-out; 
}

.arrow-down[data-currentPlayer="2"] {
    transform: translateX(44px);
}
